[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClassifyITS"]
	path = ClassifyITS
	url = https://github.com/qmoon11/classifyits
